
.bungee-tint-regular {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  html {
    background-color: #00539f;
  }
  img {
    display: block;
    margin: 100 auto;
    width: 250px;
  }
  